## Object-Oriented Perceptron API

Define the `perceptron` interface as a Python class, which allows us to initialize new `Perceptron` objects that can learn from data via a `fit` method. As a convention, we append an underscore `(_)` to attributes that are not being created upon the initialization but **by calling the object's other methods**

In [ ]:
import nump as np

class Perceptron(object):
    
    def __init__(self, eta=0.01, n_iter=50, random_state=1):
        self.eta = eta
        self.n_iter = n_iter
        self.random_state = random_state

    def fit(self, X, y):
        
        rgen = np.random.RandomState(self.random_state)
        # loc=0 (mean of 0), scale=0.01 (sd of 0.01)
        # runif(n=1+ncol(X))
        self.w_ = rgen.normal(loc=0.0, scale=0.01, size=1+X.shape[1])
        self.errors_ = []
        
        for _ in range(self.n_iter):
            errors = 0
            for xi, target in zip(X,y):
                update = self.eta * (target - self.predict(xi))
                # weights update
                self.w_[1:] += update * xi
                # bias unit update
                self.w_[0] += update
                errors += int(update != 0.0)
            self.errors_.append(errors)
        return self
    

    def net_input(self, X):
        return np.dot(X, self.w_[1:]) + self.w_[0]
    
    def predict(self, X):
        return np.where(self.net_input(X) >= 0.0, 1, -1)

In [48]:
import pandas as pd
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", header=None)
df.tail()

       0    1    2    3               4
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [38]:
from sklearn.datasets import load_iris
data, target = load_iris(return_X_y=True)
data.shape

(150, 4)

In [39]:
import pandas as pd
data = pd.DataFrame(data)
print(data.shape)
data.head()

(150, 4)

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [46]:
dict((x, y) for x, y in zip(data, target))

{0: 0, 1: 0, 2: 0, 3: 0}

In [21]:

name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
  
# using zip() to map valuess
set1 = zip(name, roll_no)
print(set(set1))

for x, y in zip(name, roll_no):
    print(x, y)

{('Astha', 2), ('Shambhavi', 3), ('Manjeet', 4), ('Nikhil', 1)}
Manjeet 4
Nikhil 1
Shambhavi 3
Astha 2